*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #08c0dd;
    --secondary-color: #262431;
    --tertiary-color: #2f2c3d;
}

html,
body{
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
    background-color: var(--secondary-color);
    line-height: 1.6;
    color: #fff;
}

a{
    color: #fff;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.btn{
    padding: 0.5rem 2rem;
    background-color: var(--primary-color);
    border: 2px solid transparent;
    color: #fff;
    font-weight: 600;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
}

/* navbar */
.navbar {
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.navbar.navbar-scroll{
    background-color: rgba(38, 36, 49, 0.8);
    backdrop-filter: blur(10px);
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo img{
    width: 112px;
    height: 36px;
}

.navbar__menu-list{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 400;
}

.navbar__menu-link--primary,
.navbar__mobile-menu-link--primary{
    color: var(--primary-color);
}

.navbar__menu-link--primary:hover,
.navbar__mobile-menu-link--primary:hover {
  color: #fff;
}

/* Mobile Menu */

.navbar__mobile-menu{
    display: none;
    cursor: pointer;
}

.nav__mobile-menu-items{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    opacity: 0.95;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar__mobile-menu-list{
    transform: translateX(100%);
}

.navbar__mobile-menu-items.active{
    transform: translateX(0);
}