*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #08c0dd;
    --secondary-color: #262431;
    --tertiary-color: #2f2c3d;
}

html,
body{
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
    background-color: var(--secondary-color);
    line-height: 1.6;
    color: #fff;
}

a{
    color: #fff;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.btn{
    padding: 0.5rem 2rem;
    background-color: var(--primary-color);
    border: 2px solid transparent;
    color: #fff;
    font-weight: 600;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
}

/* navbar */
.navbar {
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.navbar.navbar--scroll{
    background-color: rgba(38, 36, 49, 0.8);
    backdrop-filter: blur(10px);
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo img{
    width: 112px;
    height: 36px;
}

.navbar__menu-list{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 400;
}

.navbar__menu-link:hover,
.navbar__mobile-menu-link:hover {
  color: var(--primary-color);
}

.navbar__menu-link--primary,
.navbar__mobile-menu-link--primary{
    color: var(--primary-color);
}

.navbar__menu-link--primary:hover,
.navbar__mobile-menu-link--primary:hover {
  color: #fff;
}

/* Mobile Menu */

.navbar__mobile-menu{
    display: none;
    cursor: pointer;
}

.navbar__mobile-menu-items{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    opacity: 0.95;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar__mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}

.navbar__mobile-menu-items{
    transform: translateX(100%);
}

.navbar__mobile-menu-items.active{
    transform: translateX(0);
}


/* Media Queries */
@media (max-width: 992px) {
  /* Hero */
  .hero {
    padding: 10rem;
    text-align: center;
  }

  .hero__container {
    flex-direction: column;
  }

  .hero__title {
    font-size: 2.3rem;
  }

  .hero__buttons {
    flex-direction: column;
    gap: 1rem;
  }

  .hero__button {
    width: 100%;
  }

  .hero__image img {
    max-width: 350px;
  }

  /* Testimonials */
  .testimonials__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonials__card {
    padding: 0 1.5rem;
  }

  .testimonials__card:nth-child(3) {
    display: none;
  }

  /* Features */
  .features__grid {
    grid-template-columns: 1fr;
  }

  .features__grid-column-left,
  .features__grid-column-right {
    order: 2;
    margin-bottom: 2rem;
  }

  .features__grid-column-center {
    order: 1;
    margin-bottom: 3rem;
  }

  .features__grid-item,
  .features__grid-column-right .features__grid-item {
    text-align: center;
    flex-direction: column-reverse;
    max-width: 400px;
  }

  .features__grid-item-icon {
    margin: 0 auto;
  }

  .features__grid-column-center img {
    max-width: 300px;
  }

  /* Details */
  .details__grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .details__grid-image img {
    width: 100%;
    max-width: 400px;
  }

  .details__grid-content {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .details__icons {
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
  }

  /* Download */
  .download {
    padding-top: 10rem;
    text-align: center;
  }

  .download__container {
    flex-direction: column-reverse;
  }

  .download__buttons {
    flex-direction: column;
  }

  .download__button {
    width: 100%;
    padding: 0.7rem;
  }

  /* Footer */
  .footer {
    font-size: 1rem;
  }

  .footer__container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 3rem;
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  /* Navbar */
  .navbar__menu {
    display: none;
  }

  .navbar__mobile-menu {
    display: block;
  }

  /* Testimonials */
  .testimonials__container {
    grid-template-columns: 1fr;
  }

  .testimonials__card:nth-child(2) {
    display: none;
  }

  /* Video Modal */
  .modal__content {
    margin: 40% auto;
    padding: 10px;
    width: 90%;
  }

  .modal__content iframe {
    width: 100%;
  }

  /* Pricing */
  .pricing__cards {
    flex-direction: column;
  }

  .pricing__card {
    margin-bottom: 4.5rem;
  }

  /* Details Features */
  .details-features__list-item {
    flex-direction: column;
    text-align: center;
  }
}